{% extends 'base.html' %}
{% load bootstrap4 %} 
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Business</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="#"> {% endblock %}

</head>

<body>
  {% block content %}
  <div class="container">
    <form  action="{%url 'new_business' neighborhood.id %}" method="post" style="padding-top:2em;width:70%;margin:0 auto;" enctype="multipart/form-data">
      <legend>
        <strong><em>Add New Business</em></strong>
      </legend>
      {%csrf_token%}

      {% for field in form %}
          {% bootstrap_field field %}
      {% endfor %}
      <input type="submit" class="btn btn-success btn-lg" value="Post">
    </form>
  </div>

  {% endblock %}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} 
  {% endblock %}
</body>

</html>